<h1>Welcome to First step</h1>

<a href="{{ path('sylius_flow_forward', {'scenarioAlias': 'acme_inscription', 'stepName': 'register'}) }}" class="btn btn-success">forward <i class="icon-forward icon-white"></i></a>